mat-list-item {
  border-bottom: thin solid #555;
}
mat-list mat-list-item:last-child { border-bottom: 0;}

.comments-row {
  display: flex;
  border-top: thin solid #555;
  padding-top: 10px;
  justify-content: space-around;
  align-items: center;
}

mat-form-field {
  width: 90%;
}

.comment-date { text-align: right;}
